@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font01: Verdana, Geneva, Tahoma, sans-serif; 
    --font02: 'Passion One', cursive;
    --font03: 'Sriracha', cursive;    
}

* {
    margin: 0px;
    padding: 0px;   
}

div.img {
    width: 98vw;
    height: 141vh;
}

div.parallax1 {
    position: sticky;
    top: 0vh;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.527);
    background-image: url(../imagens/background001.jpg);
    background-size: cover;
    background-position: center center;    
}

div.parallax2 {
    position: sticky;
    top: 0vh;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.527);
    background-image: url(../imagens/background002.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

div.parallax3 {
    height: 158vh;
}


div.p-absol {
    position: absolute;
    z-index: 2;
}

header {
    background-color: rgba(0, 0, 0, 0.616);
    width: 100vw;
    height: 25vh;
    color: white;
    text-align: center;
    font-family: var(--font01);       
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font02);
    font-size: 8vh;
}

header p {
    padding-bottom: 2em;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: var(--font03);
    font-size: 2.5vh;
    text-align: center; 
}

section.normal p {
    padding-bottom: 3em;
}

section.normal p:last-child {
    padding-bottom: 0;
}

section.normal {
    background-color: rgb(255, 255, 255);
    color: black;
}

section.imagem > p { 
    display: inline-block;
    padding: 1em;
    color: white;
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 10px;
    text-shadow: 1px 1px 0px black;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}